.wrap{
  overflow: hidden;
}
article {
  margin: 0 10%;
  text-align: left;
}

h1 {
  font-size: 6vw;
  margin: ;
  border-bottom: 0.4vw solid black;
  line-height: 113%;
}
.h1 p {
  margin-top: 1%;
  font-size: 1.8vw;
  max-width: 74%;
}
h2 {
  font-size: 5.5vw;
  margin-top: 0;
  margin-bottom: 0;
}
h3 {
  font-size: 4vw;
  margin-top: 0;
}
.categorydevide {
  list-style: none;
  margin-top: 1%;
}
.categorydevide li {
  font-size: 1.8vw;
  text-align: center;
  display: inline-block;
  padding: 0 1%;
}
.categorydevide li a {
  display: block;
  position: relative;
  text-decoration: none;
}
.categorydevide a:visited {
  color: #000000;
}
.categorydevide li a::after {
  border-bottom: solid 0.15vw black;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  width: 0;
}
.categorydevide li a::before {
  width: 100%;
}
.categorydevide li a:hover::before,
.categorydevide li a:hover::after {
  width: 100%;
}

.newpost {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 2%;
  width: 100%;
  height: auto;
  font-size: 0;
}
.newpost a {
  display: block;
}
.newpost a:visited {
  color: #000000;
}
.newpost a:hover{
  text-decoration: none;
}
.newpost li {
  list-style: none;
  margin: 1% 1.2%;
  width: calc(100% / 5);
  height: auto;
}

.new-icatch img {
  width: 100%;
  height: auto;
  border-radius: 0.8vw;
}

.new-category,
.new-number {
  display: inline-block;
  font-size: 1vw;
  padding: 0 0.3vw;
  line-height: 0;
  direction: row;
}

.new-title {
  font-size: 1.7vw;
  font-weight: 800;
  line-height: 100%;
  margin: 0;
}
